extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Sketchy Music
    div.Message
      div.Title
        h3 Use your creativity
        h1 to power your entertainment
      span.Details Access the SketchyMusic Team Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!
